<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Object Detection</title>

  <!-- bootstrap core /static/css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <div class="d-flex align-items-center">
      <img src="/static//images/logo.png" alt="Logo"  class="d-inline-block align-top">
      <span class="navbar-text ml-2">Object Detection Project By Mathesh</span>
    </div>
  </a>
  <!-- Add other navbar links here -->
</nav>

  
  
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box" style="padding-top: 100px;">
                    
                    <h1>
                      Object <br>
                      <span>
                        Detection By
                      </span>
                    </h1>
                    <h4>
                      Using Python
                    </h4>
                    <h6 style="padding-top: 10px; padding-bottom: 20px;">
                      Here is the result
                    </h6>
                  
                    <div class="text-center"  style="padding-bottom: 20px;"">
                      <img src="{{op}}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div>
                      <div >
                      <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        This Image Contains:
                      </h2>
                    </div>
                      <h5>
                      {% for number, text in numbers|zip(names) %}
                        <li>{{ number }}: {{ text }}</li>
                      {% endfor %}
                      </h5>
                    </div>
                    
                      <!-- <form action="/" method="post">
                        <div style="padding-top: 20px;">
                          <button style="color:black; font-family: cursive;" type="submit" class="btn btn-warning" data-toggle="button" aria-pressed="false">
                            Back To Home
                          </button>
                        </div>
                      </form> -->

                    <div>
                      <a href="/" class="btn btn-warning"> Back To Home </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  
  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>

</body>

</html>
